*{
  font-family: 'Comfortaa', cursive;
  margin: 0;
  padding: 0;
  background-color: rgb(36, 35, 35);
  color: aliceblue;
}
.container{
  margin-top: 3rem;
  gap: 1rem;
}

.container, .field{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input{
  width: 40rem;
  background-color: aliceblue;
  color: black;
  font-weight: 700;
  padding: 0.3rem;
  border-color: rgb(202, 79, 7);
  outline: none;
}

#input:hover{
  background-color: rgb(238, 238, 238);
}

#toggle{
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: rgb(202, 79, 7);
  color: white;
  cursor: pointer;
  transition: .3s;
}

#toggle:hover{
  background-color: rgb(223, 97, 25);
  padding: 0.6rem;
}